@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid {
  background-image: radial-gradient(circle at 1px 1px, rgba(0,0,0,0.15) 1px, transparent 0);
  background-size: 40px 40px;
}

.glow-follow {
  position: fixed;
  width: 300px;
  height: 300px;
  border-radius: 9999px;
  background: radial-gradient(circle, rgba(0,125,255,0.35), transparent 60%);
  pointer-events: none;
  z-index: 1;
  filter: blur(60px);
  transition: transform 0.05s linear;
}
